@page
@using Microsoft.Extensions.Localization
@using CompanyName.ProjectName.Project.Localization
@model CompanyName.ProjectName.Project.Web.Pages.Project.IndexModel
@inject IStringLocalizer<ProjectResource> L
@{
}
<h1>Project</h1>
<p>@L["SamplePageMessage"]</p>
