@page "/Project"
@using Microsoft.Extensions.Localization
@using global::CompanyName.ProjectName.Project.Localization
@inject IStringLocalizer<ProjectResource> L
@{
}
<h1>Project</h1>
<p>@L["SamplePageMessage"]</p>